<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'">Hello, Guest</p>
    <p></p>
    <p th:text="'Profile is ' + ${profileName}">Profile is XXXX</p>
    <p></p>
    <p th:text="'ServerPort is ' + ${serverPort}">ServerPort is NNNN</p>
    <p></p>
    <p th:text="'SessionID is ' + ${sessionID}">SessionID is XXX-CCC-EEE-YYY</p>
</body>
</html>